<!DOCTYPE html>
<!-- 这里没有任何和后端交互的地方 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<script src="/js/admin_index.js"></script>
<link rel="stylesheet" href="/css/admin.css">

	<!-- 新 Bootstrap4 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

	<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

	<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style type="text/css">
	.function_moudle
	{ 
		width: 300px;
		height:200px;
		background-color: #09AAFF;
		margin-bottom: 50px;
	}
	.all_moudle
	{
		width: 660px;
		margin: 100px auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.background_moudle
	{
		background-color:#D5CCCC;
		position:absolute;
		left:0px;
		right:0px;
		top:66px;
		bottom:0px;
	}
		.draw_bg_moudle
	{
		background-color:white;
		position:absolute;
		left:10%;
		right:10%;
		top:0px;
		bottom:0px;
	}
		.search_moudle
	{
		position:absolute;
		top:100px;
		left:10%
	}
	#search_input
	{
		width:500px;
	}
	.data_moudle
	{
		position:absolute;
		top:200px;
		left:10%;
		width:80%;
		height:700px;
	}

	</style>
	<script type="text/javascript" >
     function openNewWindow()
     {
  		var test=prompt("请输入信息");
  		document.getElementById("message").value=test;
	 }
	</script>
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark index-navbar" >
		<!-- Brand -->
		<a class="navbar-brand" href="#">
			<img src="/images/logo.png" width="40em" height="40em">
			Video Web
		</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse index-navbar mx-auto" id="myNavbar">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="/index">关于本网</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/index">返回主页</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/user/personal">个人中心</a>
				</li> 
			</ul>
		</div> 

		<!-- Signin/Singup -->
		<div class="navbar-nav mx-auto">
	<span></span>
				<div class="nav-item" th:if="${session.uid==null} " >
					<a class="nav-link" href="/login/login">登录</a>
				</div>
				<div class="nav-item" th:if="${session.uid!=null} " >
					<a  class="nav-link" href="/user/personal" th:text="${session.uid}+'，欢迎您'">,欢迎您</a>
				</div>
				<div class="nav-item" th:if="${session.uid==null} " >
					<a class="nav-link" href="/register/register">注册</a>
				</div>
				<div class="nav-item" th:if="${session.uid!=null} " >
					<a class="nav-link" href="/login/logout">注销</a>
				</div>
		</div>

	</nav>
	<!-- 功能模块 -->
	<div class="background_moudle">
		<div class="draw_bg_moudle">
			<div class="search_moudle">
				<form class="input-group" th:action="@{/admin/useradmin(type=user)}" method="get">
					 <input type="hidden"  name="type" class="form-control"  th:value="user" value="user"/>
                    <input type="text"  name="uid" class="form-control"  id="search_input" value="null" placeholder="请输入用户名/用户id/用户账户" />
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">搜索!</button>
                    </span>
                </form>
			</div>
			<div class="data_moudle">
				<table class="table" >
					<tr th:each="user : ${userlist}" >
						<td th:text="${user.userid}" style="width:60%"></td>
						<td th:text="${user.userstate}" ></td>
						<td style="right:10px;">
									<span th:if="${user.shutup} eq 0">
										<a th:href="@{/admin/useradmin/operator(type=shutup,uid=${user.uid})}"><button type="button" class="btn btn-warning">禁言</button></a>
									</span>
									<span th:if="${user.shutup} eq 1">
										<a th:href="@{/admin/useradmin/operator(type=disshutup,uid=${user.uid})}"><button type="button" class="btn btn-primary">取消禁言</button></a>
									</span>
									<span th:if="${user.banned} eq 0">
										<a th:href="@{/admin/useradmin/operator(type=banned,uid=${user.uid})}"><button type="button" class="btn btn-warning">小黑屋</button></a>	
									</span>
									<span th:if="${user.banned} eq 1">
										<a th:href="@{/admin/useradmin/operator(type=disbanned,uid=${user.uid})}"><button type="button" class="btn btn-primary">取消小黑屋</button></a>	
									</span>
									<form th:action="@{/admin/useradmin/operator}" method="get" id="myform" style="display:inline;">
									<input type="hidden" name="type" value="message">
									<input type="hidden"  name="uid" th:value="${user.uid}" >
									<input type="hidden" id="message" name="message" value="failed">
									<button class="btn btn-success" onclick="openNewWindow()">发信息</button>
									</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
</body>

</html>