<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="simplecss.css"/>
	</head>
	<body>
		<div class="header container">
			<div class="row">
				<div class="col-md-5 header-left">
					<p>视频名字</p>
					<p><span>视频分类</span> <span>视频发布时间</span></p>
					<p><span>xxxxxxxxxxxxxxxx</span></p>
				</div>
				<div class="col-md-4 col-md-push-3 header-right container">
					<div class="row">
						<div class="col-md-2">
							<img src="head.png" >
						</div>
						<div class="col-md-10">
							<p>视频作者 <a href=""><button type="button">发信息</button></a></p>
							<p>xxxx</p>
							<p>
								<button type="button">充电</button>
								<button type="button">关注</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main container">
			<div class="row">
				<!--  <div class="col-md-8 video"> </div> -->
				<video src="test1.mp4" class="col-md-8" controls="controls"></video>	
				
				<div class="col-md-4">
					<div class="main-right-top">
							<div class="title">
								<span>视频选集</span>
							</div>
							<ul class="content">
								<li class="active">p1 中文字幕版</li>
								<li>p2 无字幕版</li>
							</ul>
					</div>
					<div class="main-right-bottom">
						<img src="hhh.jpg" >
						<span>这里应该也有内容</span>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>
