<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>

	<meta charset="utf-8">
	<!-- 	
		移动设备友好
		width=device-width 表示宽度是设备屏幕的宽度。
		initial-scale=1 表示初始的缩放比例。
		shrink-to-fit=no 自动适应手机屏幕的宽度。
	-->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	<title> 推荐视频网 </title>

	<!-- 新 Bootstrap4 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

	<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

	<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">

	<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=2dLAqpSF0fPCxKiOvSocg7nZkkGNTLKp">
		//v2.0版本的引用方式：src="http://api.map.baidu.com/api?v=2.0&ak=您的密钥"
	</script>


</head>
<body >

	<nav class="navbar navbar-expand-md bg-dark navbar-dark index-navbar" >
		<!-- Brand -->
		<a class="navbar-brand" href="#">
			<img src="images/logo.png" width="40em" height="40em">
			Video Web
		</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse index-navbar mx-auto" id="myNavbar">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="/index">关于本网</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="creat-home.html">上传视频</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/user/personal">个人中心</a>
				</li> 
			</ul>
		</div> 

		<!-- Signin/Singup -->
		<div>
			<span></span>
			<a href="/login/login">SignIn</a>
			<span></span>
			<a href="register/register">SignUp</a>
		</div>

	</nav>
	
	<div class="search-div">
		<div class="row">
			<h1>推荐视频网</h1>
		</div>
		<div class="row">
			<form class="form-inline" action="search.do" method="post">
				<input class="form-control search-box" type="text" name="searchBox" id="searchBox" style="width: 500px;">
				<button class="btn btn-success search-button">
					查找视频
				</button>
			</form>
		</div>	
	</div>

	<!-- recommend houses -->
	<div class="container-fluid recommend-video">

		<div class="row">
			<div class="col">
				<div class="card bg-light text-dark video-card">
					<div class="card-body">
						<img class=" " src="..." alt="VIDEO">
					</div>
					<div class="card-footer">
						<h3 class="card-title">视频名字</h3>
						<p class="card-text">视频长度</p>
						<p class="card-text">视频信息</p>
						<button class="btn btn-small btn-warning">查看</button>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card bg-light text-dark video-card">
					<div class="card-body">
						<img class=" " src="..." alt="VIDEO">
					</div>
					<div class="card-footer">
						<h3 class="card-title">视频名字</h3>
						<p class="card-text">视频长度</p>
						<p class="card-text">视频信息</p>
						<button class="btn btn-small btn-warning">查看</button>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card bg-light text-dark video-card">
					<div class="card-body">
						<img class=" " src="..." alt="VIDEO">
					</div>
					<div class="card-footer">
						<h3 class="card-title">视频名字</h3>
						<p class="card-text">视频长度</p>
						<p class="card-text">视频信息</p>
						<button class="btn btn-small btn-warning">查看</button>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card bg-light text-dark video-card">
					<div class="card-body">
						<img class=" " src="..." alt="VIDEO">
					</div>
					<div class="card-footer">
						<h3 class="card-title">视频名字</h3>
						<p class="card-text">视频长度</p>
						<p class="card-text">视频信息</p>
						<button class="btn btn-small btn-warning">查看</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<hr>

	<div class="container-fluid recommend-video">

		<div class="row">
			<div class="col">
				<div class="card bg-light text-dark video-card">
					<div class="card-body">
						<img class=" " src="..." alt="VIDEO">
					</div>
					<div class="card-footer">
						<h3 class="card-title">视频名字</h3>
						<p class="card-text">视频长度</p>
						<p class="card-text">视频信息</p>
						<button class="btn btn-small btn-warning">查看</button>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card bg-light text-dark video-card">
					<div class="card-body">
						<img class=" " src="..." alt="VIDEO">
					</div>
					<div class="card-footer">
						<h3 class="card-title">视频名字</h3>
						<p class="card-text">视频长度</p>
						<p class="card-text">视频信息</p>
						<button class="btn btn-small btn-warning">查看</button>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card bg-light text-dark video-card">
					<div class="card-body">
						<img class=" " src="..." alt="VIDEO">
					</div>
					<div class="card-footer">
						<h3 class="card-title">视频名字</h3>
						<p class="card-text">视频长度</p>
						<p class="card-text">视频信息</p>
						<button class="btn btn-small btn-warning">查看</button>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card bg-light text-dark video-card">
					<div class="card-body">
						<img class=" " src="..." alt="VIDEO">
					</div>
					<div class="card-footer">
						<h3 class="card-title">视频名字</h3>
						<p class="card-text">视频长度</p>
						<p class="card-text">视频信息</p>
						<button class="btn btn-small btn-warning">查看</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--/ recommend video -->


	<!-- map container -->
<!--	<div class="map-container">
		<div id="container">
			<script type="text/javascript">
				var map = new BMap.Map("container");
				var point = new BMap.Point(116.404,39.915);
				map.centerAndZoom(point,15);		

				map.addControl(new BMap.NavigationControl());
				map.addControl(new BMap.OverviewMapControl());
				map.addControl(new BMap.ScaleControl());
				map.addControl(new BMap.MapTypeControl());

				var geolocation = new BMap.Geolocation();
				geolocation.getCurrentPosition(function(r) {
					if(this.getStatus() == BMAP_STATUS_SUCCESS) {
						var mk = new BMap.Marker(r.point);
						map.addOverlay(mk);
						map.panTo(r.point);
						// alert('您的位置：'+r.point.lng+','+r.point.lat);
					}
					else {
						alert('failed'+this.getStatus());
					}        
				});
			</script>
		</div>	
	</div>
	
	-->
	<!-- /map container -->

<!-- 
	<p id="geolocation">点击按钮获取您当前坐标（可能需要比较长的时间获取）：</p>
	<button onclick="getLocation()">点我</button>
	<script type="text/javascript" >

		var element = document.getElementById("geolocation");

		function getLocation()
		{
			if(navigator.geolocation)
			{
				navigator.geolocation.getCurrentPosition(showPosition);
			}
			else
			{
				element.innerHTML = "Geolocation is not supported by this browser.";
			}
		}

		function showPosition(position)
		{
			element.innerHTML = 
			"Latitude: " + position.coords.latitude + "<br>" + 
			"Longitude: " + position.coords.longitude;
		}
	</script>
-->



	<!-- bottom bar -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
	<div class="botbar">
		<div class="row">
			<div class="col">
				<a href="#">关于本网</a>
			</div>
			<div class="col">
				<a href="#">联系我们</a>
			</div>
			<div class="col">
				<a href="#">我们的优势</a>
			</div>
			<div class="col">
				<a href="#">隐私说明</a>
			</div>
			<div class="col">
				<a href="#">视频源</a>
			</div>
			<div class="col">
				<a href="#">友情链接</a>
				<a href="https://www.bilibili.com/">哔哩哔哩</a>
			</div>
		</div>
	</div>


	<!--/ bottom bar -->
</body>
</html>